__pycache__/
.idea/
.env
celerybeat-schedule*
*.log
*.py[cod]
!.env.example

# ignoring all inside media/
media/*

# but allowing directory with avatars
!media/avatars/

# and allowing default avatar
!media/avatars/default_avatar.png
