services:
  db:
    image: postgres:15
    container_name: my-postgres-database
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data  # <name of data storage(volume) on host>:<Path inside container to store data>

  redis:
    image: redis:8-alpine
    container_name: my-redis-container
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data


volumes:
  postgres_data: # example Windows path: C:\ProgramData\Docker\volumes\postgres_data\_data
  redis_data:
