{% extends "base.html" %}

{% load custom_filters %}

{% block title %}My Notes{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        {% for note in notes %}
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card {% if note.done %}bg-success text-white{% else %}bg-info text-dark{% endif %} h-100 border">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ note.name }}</h5>
                    <p class="card-text">{{ note.description }}</p>

                    <p>
                        {% for tag in note.tags|extract_tags %}
                        <span class="badge bg-secondary me-1">{{ tag }}</span>
                        {% endfor %}
                    </p>

                    <div class="d-flex justify-content-between mt-auto">
                        <form method="post" action="{% url 'notes_app:note_toggle_status' note.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-sm">
                                {% if note.done %}Mark Not Done{% else %}Mark Done{% endif %}
                            </button>
                        </form>
                        <a href="{% url 'notes_app:note_detail' note.id %}" class="btn btn-primary btn-sm">Manage
                            note</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
