{% extends "base.html" %}

{% block title %}
{% if is_edit %}Edit Note{% else %}Create Note{% endif %}
{% endblock %}

{% block content %}

<div class="container mt-3">
    <hr class="border border-primary border-3 opacity-75">

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <h1 class="text-center">{% if is_edit %}Edit Note{% else %}Create Note{% endif %}</h1>
            <p class="text-center text-muted mb-4">Write your note and choose relevant tags to organize it.</p>
            <hr>

            <form method="post"
                  action="{% if is_edit %}{% url 'notes_app:note_edit' note_id=form.instance.id %}{% else %}{% url 'notes_app:note_create' %}{% endif %}">
                {% csrf_token %}

                <div class="mb-3 border border-primary rounded">
                    {{ form.name }}
                    {% if form.errors.name %}
                    <div class="text-danger mt-1">{{ form.errors.name }}</div>
                    {% endif %}
                </div>

                <div class="mb-3 border border-primary rounded">
                    {{ form.description }}
                    {% if form.errors.description %}
                    <div class="text-danger mt-1">{{ form.errors.description }}</div>
                    {% endif %}
                </div>

                <div class="mb-3 border border-primary rounded p-2">
                    <label for="id_tags" class="form-label">Select tags:</label>
                    <select name="tags" id="id_tags" class="form-select" multiple required>
                        {% for tag in tags %}
                        <option value="{{ tag.name }}"
                                {% if tag in form.instance.tags.all %}selected{% endif %}>{{ tag.name }}
                        </option>
                        {% endfor %}
                    </select>

                </div>
                <div class="d-flex justify-content-between mt-3">
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                    <a href="{% url 'notes_app:note_list' %}" class="btn btn-outline-secondary">Back to Notes</a>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
