{% extends 'base.html' %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block content %}

<div class="container mt-3">
    <hr class="border border-primary border-3 opacity-75">

    <h1 class="text-center pb-3">My Profile</h1>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="card bg-light text-dark shadow-sm rounded-3 border h-100">
                <div class="card-body text-center">


                    <div class="mb-3">
                        {% if curr_profile.avatar %}
                        <img src="{{ curr_profile.avatar.url }}" class="img-fluid rounded-0" alt="Avatar"
                             style="width: 150px; height: 150px, object-fit: cover;">
                        {% else %}
                        <img src="{% static 'avatars/default_avatar.jpg' %}" class="img-fluid rounded-0"
                             alt="Avatar" style="width: 150px; height: 150px, object-fit: cover;">
                        {% endif %}
                    </div>

                    {% if curr_profile.is_confirmed %}
                    <div class="alert alert-success mb-3" role="alert">
                        Profile confirmed
                    </div>
                    {% else %}
                    <div class="alert alert-warning mb-3" role="alert">
                        Profile not confirmed
                    </div>
                    {% endif %}

                    <p class="card-text">{{ curr_profile.bio|default:"No bio yet."}}</p>

                    <div class="d-flex justify-content-center gap-2 mt-3 flex-wrap">
                        <a href="{% url 'users_app:edit_profile' %}" class="btn btn-primary btn-sm">Edit Profile</a>
                        <a href="{% url 'notes_app:note_list' %}" class="btn btn-secondary btn-sm">My Notes</a>
                        <a href="{% url 'notes_app:tag_list' %}" class="btn btn-secondary btn-sm">My Tags</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}